{% extends 'base.html.twig' %}

{% block title %}{{ country.name }} détails {% endblock %}

{% block body %}
<div class="row">
    <div class="col-6">
        <h1>{{ country.name }}</h1>
    </div>
    <div class="col-6">
        {% for stat in country.stats %}
        <div class="my-2 border">
            <strong>A la date du </strong> {{ stat.statDate | date("d/m/Y") }} <br>
            <strong>Nombre de personnes contaminées ce jour : </strong>{{ stat.contaminated }}<br>
            <strong>Nombre de personnes guéries ce jour :</strong>{{ stat.healed }}<br>
            <strong>Nombre de personnes zombifiées ce jour :</strong>{{ stat.zombified }}<br>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}